.container{
    overflow: hidden;
}

/* FAZENDO O TEXTO DESLIZAR ATRAVÉZ DA JANELA DO NAVEGADOR*/
p {
    /* 3 segundos para executar do início ao fim,*/
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite; /*Para fazer a animação se repetir*/
    animation-direction: alternate;

   
  }
  
  @keyframes slidein {
    from {
        /*como a margem está à esquerda e com valor 100%, o elemento irá se deslocar para o seu limite, ou seja, para a parte direita –
         e sua largura será de 300%, ou seja, 3 vezes a largura do seu tamanho original*/
      margin-left: 100%;
      width: 300%
    }
  
    to {
        /* entra gradativamente na área de conteúdo até atingir uma margem esquerda de 0%.*/
      margin-left: 0%;
      width: 100%;
    }

    /* para a fonte aumentar durante o movimento da direita para
    a esquerda por um determinado momento, e que depois ele reduzisse ao seu tamanho original*/
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
        /*Isso indica ao navegador que até atingir a etapa 75% do progresso da sequência da animação 
        o elemento deve ter 25% no valor da sua margem esquerda e sua largura deve ser de 150%.*/
    }
  }




  