html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


  /* Mobile Styles */
@media only screen and (max-width: 400px) {
    body{
        font-size: larger;
        margin: inherit;
        padding: 10px;
        background-color:plum;
       text-align: justify;
    }

   header p{
    background-color: pink;
   }

   nav ul{
       display: flex;
       justify-content:space-between;
       padding: 10px;
   }

   nav ul li{
       color: blue;
   }
   h1{
       font-size: 30px;
   }

   h2 {
       padding: 9px;
       font-weight: bold;
       font-size: 25px;
   }
   h3{
       margin-left: 9px;
   }
   
   .aside-one{
       display: flex;
      flex-wrap: wrap;
      padding: 15px;
   }
   .aside-one ul{
       display: flex;
       justify-content: center;
       flex-direction: column;
       padding: 15px;
     
   }
    .aside-two{
        display: flex;
      flex-wrap: wrap;
    }
    
    .aside-two ul{
        display: flex;
       justify-content: center;
       flex-direction: column;
    }
    .main-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 15px; 
    }

    .main-content p{
        padding: 15px;
        text-align: justify;
    }

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    footer p{
        padding: 5px;
    }

} 
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    body{
        margin: 10px;
        padding: 20px;
        text-align: justify;
        background-color: salmon;
  }
  header{
      display: flex;
      flex-direction: column;
      
  }
  header p{
      font-size: xx-large;
      font-weight:bolder;
      color:brown;
      text-align: center;
  }
  nav ul{
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      padding: 10px;
      color: blue;
  }
  nav ul li{
      list-style-type: none;
      font-size: large;
      padding: 7px;
      background-color:gainsboro;
  }

  h1{
    font-size: 30px;
    text-align: center;
}

h2 {
    padding: 9px;
    font-weight: bold;
    font-size: 25px;
}
h3{
    margin-left: 9px;
}
.container{
    display: flex;
    flex-direction: column;
}
.aside-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 7px;
}
.aside-one li{
    list-style-type: none;
}
.aside-two{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 7px;
}
.aside-two li{
    list-style-type: none;
}
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px; 
}

.main-content p{
    padding: 15px;
    text-align: justify;
    font-size: 23px;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer p{
    padding: 5px;
}

}
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
    body{
        margin: 20px;
        padding: 20px;
        text-align: justify;
        font-size: 25px;
        background-color: wheat;
    }

    header{
        display: flex;
        flex-direction: column;
        
    }

    header p{
        font-size: xx-large;
        font-weight:bolder;
        color:brown;
        text-align: center;
    }

    nav ul{
        display: flex;
        justify-content: first baseline;
        padding: 10px;
        color: green;
    }

    nav ul li{
        list-style-type: none;
        font-size: large;
        padding: 10px;
       
    }

    h1{
        font-size: 30px;
        text-align: center;
    }
    
    h2 {
        padding: 15px;
        font-weight: bold;
        font-size: 25px;
    }
    h3{
        margin-left: 9px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .aside-one{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 7px;
    }
    .aside-one ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
    }
    .aside-one ul li{
        list-style-type: none;
    }
     .aside-two{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         text-align: center;
     }
     
     .aside-two ul{
         display: flex;
        justify-content: center;
        flex-direction: column;
     }

     .aside-two ul li{
         list-style-type: none;
     }

     .main-content {
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding: 15px; 
     }
 
     .main-content p{
         padding: 15px;
         text-align: justify;
     }

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    footer p{
        padding: 10px;
    }

}